body {
    background-color: black;
}

.center {
   position: absolute;
    margin-left: 29.5%;
    margin-top: 8%;
}

.h1 {
    color: white;
}


a {
    color: white;
    font-family: 'helvetica-bold';
    text-decoration: none;
}

a:hover {
    color: grey;
    text-decoration: none;
  }

  .story {
    margin-left: 70%;
    margin-top: 12%;
    position: absolute;
  }

  .toc {
    margin-left: 76%;
    margin-top: 18%;
    position: absolute;
  }

  .stories {
    margin-left: 9%;
    margin-top: 15%;
    position: absolute;
  }

  .responsive {
    margin-left: 20%;
    margin-top: 20%;
    position: absolute;
  }

  .nyc {
    margin-left: 80%;
    margin-top: 45%;
    position: absolute;
  }