@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    background: #4e594e;
    
}

p {
    font-family: 'EB Garamond', serif;
    color: #c0cc95;
    font-size: 30px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    position: absolute;
    font-weight: 500;
}

p strong {
    color: #4e594e;
    font-weight: 700;
}

  p strong:hover {
    color: #f1ffc4;
    font-weight: 700;
    font-style: italic;
  }

  a{
    transition: transform .7s ease-in-out;
    position: absolute;
    margin-top: 190%;
    margin-left: 48%;
    padding-bottom: 100px;

}
a:link {
    color: #c0cc95;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    
}

a:visited{
    color: #c0cc95;
    text-decoration: none;
}

div{

}

div:hover{
    transform: rotate(360deg);
}
  
