@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap');

body {
    background-color: #4e594e;
    font-family:  'EB Garamond', serif;
    color: #c0cc95;
}

img {
    max-width: 40%;
    border: 5px solid #c0cc95;

}

h1 {
    font-weight: 800;
    font-size: 50px;
}