@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap');

body {
    background-color: #4e594e;
    font-family:  'EB Garamond', serif;
    color: #c0cc95;
    text-align: center;
}

img {
    max-width: 50%;
    border: 5px solid #c0cc95;

}

h1 {
    font-weight: 800;
    font-size: 50px;
}

h3 {
    font-size: 30px;
}

li {
    font-size: 25px;
}