@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: #94b886;
}

h1 {
    font-family: 'unbounded', cursive;
    font-weight: 600 ;
    color: white;
    font-size: 150px;
    position: absolute;
    margin-top: 25%;
}

h2{
    font-family: 'unbounded', cursive;
    font-weight: 400;
    color: white;
    font-size: 30px;
    position: absolute;
    margin-top: 8%;
    margin-left: 75%;
}

a {
    font-family: 'unbounded', cursive;
    font-size: 30px;
    font-weight: 300;
    color: white;
    text-decoration: none;
    position: absolute;
    margin-top: 13%;
    margin-left: 75%;
}

a:hover{
    color: #64785c;
}

.two {
    margin-top: 15%;
    margin-left: 75%;
    position: absolute;
}

.three {
    margin-top: 17%;
    margin-left: 75%;
    position: absolute;
}

.four {
    margin-top: 19%;
    margin-left: 75%;
    position: absolute;
}

.five {
    margin-top: 21%;
    margin-left: 75%;
    position: absolute;
}

.six {
    margin-top: 23%;
    margin-left: 75%;
    position: absolute;
}
