@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');

body {
    background-color: #94b886;
}

a {
    font-family: 'unbounded', cursive;
    font-weight: 600 ;
    color: white;
    font-size: 45px;
    position: absolute;
    margin-top: 27%;
    margin-left: 5%;
    text-decoration: none;
}
a:hover{
    color: #64785c;
}


h2{
    font-family: 'unbounded', cursive;
    font-weight: 900;
    color: white;
    font-size: 35px;
    position: relative;
    margin-left: 35%;
    padding-top: 40px;
}

p{
    font-family: 'darker grotesque', sans-serif;
    color: white;
    font-size: 32px;
    position: relative;
    margin-left: 35%;
}
