@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: #94b886;
}

a {
    font-family: 'unbounded', cursive;
    font-weight: 900 ;
    color: white;
    font-size: 70px;
    position: absolute;
    margin-top: 5%;
    margin-left: 5%;
    text-decoration: none;
}
a:hover{
    color: #64785c;
}


h2{
    font-family: 'unbounded', cursive;
    font-weight: 800;
    color: white;
    font-size: 50px;
    position: relative;
    margin-left: 35%;
    padding-top: 40px;
}

p{
    font-family: 'unbounded', cursive;
    font-weight: 300;
    color: white;
    font-size: 25px;
    position: relative;
    margin-left: 35%;
}
