@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@700&display=swap');

body{
    background-color: #72828c;
    font-family: 'itim', cursive;
    color: white;
    padding: 25px;
    font-size: 20px;
}

#title{
    font-size: 2em;
    font-family:'mitr';
    color: white;
}

h2{
    font-size:30px;
}

.rating{
    background-color:#485b66;
}
